@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
	font-family: 'Roboto', sans-serif;
}

body { 
	background-color: #000;
	color: #FFF;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100%;
}
.header {
	background-color: #112233;
	width: 100%;
	position: absolute;
}
h1 {
	padding: 20px;
	color: #f0f1f5;
	text-align: center;
	font-size: 30pt;
}

table, th , td {
	padding: 25px;
	border: 1px solid blue;
	border-collapse: collapse;
	text-align: center;
	font-size: large;
}
th {
	background-color: #222;
	color: #FFF;
}

.izquierdo {
	width: 100%;
    padding-top: 200px;
}